.body__header {
    max-width: 800px;
    padding-block-start: var(--extra-big-gap);
    padding-block-end: var(--big-gap);
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    gap: var(--small-gap);


    @media (width >=1280px) {
        max-width: max(50%, min(100%, 1200px));
    }

    .body__header__title {
        line-height: 55px;
        font-size: clamp(3rem, 1.6rem + 6.4vw, var(--extra-large-size));

        @media (width >=1280px) {
            --largest-size: 128px;
            font-size: var(--largest-size);
            line-height: 125px;

        }
    }

    .body__header__title__intro {
        font-weight: lighter;
    }

    .body__header__title__keyword {
        font-weight: 900;
    }

    .body__header__subtitle {
        display: flex;
        flex-direction: column;
    }
}